<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Title</title>
    <style>
        .right {
            height: 400px;
            background-color: silver;
        }
    </style>
</head>
<body>
{#导航条#}
<nav class="navbar navbar-primary navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{#内容#}
<div class="containers">
    <div class="row">
        <div class="col-md-11 col-lg-offset-1">
            {#            左侧#}
            <div class="left col-md-3">
                {% block menu %}
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            学生班级
                        </a>
                        <a href="/text/6" class="list-group-item">s6</a>
                        <a href="/text/7" class="list-group-item">s7</a>
                        <a href="/text/8" class="list-group-item">s8</a>
                        <a href="/text/9" class="list-group-item">s9</a>
                    </div>
                {% endblock %}
            </div>
            {#            右侧#}
            <div class="right col-md-8">
                {#                定义一个盒子#}
                {% block classinfo %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>
{#底部#}

</body>
</html>