{% extends "base.html" %}
{% block title %}Add Suite{% endblock %}
{% load staticfiles %}
{% block content %}
                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <script type="text/javascript">
                            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                        </script>
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home home-icon"></i>
                                <a href="#">首页</a>
                            </li>
                            <li class="active">新增项目</li>
                        </ul><!-- .breadcrumb -->
                        <div class="nav-search" id="nav-search">
                            <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                    <i class="icon-search nav-search-icon"></i>
                                </span>
                            </form>
                        </div><!-- #nav-search -->
                    </div>
                    <div class="page-content">
                        <div class="page-header">
                            <h1>
                                项目管理
                                <small>
                                    <i class="icon-double-angle-right"></i>
                                    编辑项目
                                </small>
                            </h1>
                        </div><!-- /.page-header -->
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目名称 </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="project_name" placeholder="projectname" class="col-xs-10 col-sm-5" />
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 项目code </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="project_code" placeholder="projectcode" class="col-xs-10 col-sm-5" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目描述 </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="project_description" placeholder="项目简介" class="col-xs-10 col-sm-5" />
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="button" data-url="" data-id="add_projetct_request" onclick="requestClick(this)">
                                                <i class="icon-ok bigger-110"></i>
                                                保存
                                            </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button class="btn" type="reset">
                                                <i class="icon-undo bigger-110"></i>
                                                重置
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->
                <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>

                <script type="text/javascript">


        function getUrlParam(name) {
             var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象  
             var r = window.location.search.substr(1).match(reg);  //匹配目标参数   
             if (r != null) return unescape(r[2]); return null; //返回参数值  
             };

                function requestClick(obj) {
                    var url ="/edit_project/"
                    // var id = getUrlParam(id);
                    var project_name0 = $(" #project_name ").val();
                    var project_code0 = $(" #project_code ").val();
                    var project_description0 = $(" #project_description ").val();
                    var p = {id:getUrlParam("id"), project_name:project_name0, project_code:project_code0,description:project_description0};
                    $.post(url, p,function(data, status){
                        var json = eval("("+data+")")

                        if(json.code == '200'){
                            window.location.href = "/task_list/";
                        }else{
                        alert(json.msg)
                    }
                        });
                }


      $.ajax({
        type:"post",
        url:"/SearchForProject/",
        dataType: "json",
        data:{
            project_id: getUrlParam("id")
        } ,
        success:function(res){
            var projectlist = res.rows;

            $("#project_code").val(projectlist[0].project_code);
            $("#project_name").val(projectlist[0].project_name);
            $("#project_description").val(projectlist[0].description);

            }
});          

</script>
    
{% endblock %}