{% extends "base.html" %}
{% block title %}新增任务{% endblock %}
{% load staticfiles %}
{% block content %}
                <div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumb+' +
                                's' , 'fixed')}catch(e){}
						</script>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li>
								<a href="#">项目列表</a>
							</li>
						</ul><!-- .breadcrumb -->
					</div>
					<div class="page-content">
						<div class="page-header">
							<h1>
								项目管理
								<small>
									<i class="icon-double-angle-right"></i>
									项目列表
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<table id="grid-table">
									<tr id="FormError" style="display: none;">
										<td class = 'ui-state-error' colspan="2"></td>
									</tr>
									<tr class="tinfo" style="display: none;">
										<td class = 'topinfo' colspan="2"></td>
									</tr>

								</table>

								<div id="grid-pager"></div>

								<script type="text/javascript">
									var $path_base = "/";//this will be used in gritter alerts containing images
								</script>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
    	<!-- basic scripts -->
		<!--[if !IE]> -->
		<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
		<!-- <![endif]-->
		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<!-- 		<script src="assets/js/typeahead-bs2.min.js"></script>
 -->		<!-- page specific plugin scripts -->
		<!-- ace scripts -->
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
				var grid_selector = "#grid-table";
				var pager_selector = "#grid-pager";
				jQuery(grid_selector).jqGrid({
					//direction: "rtl",
					url: "SearchForProject/",
					datatype: "json",
					mtype: "POST",
					colNames:['ID','项目编号','项目名称','项目描述','创建时间','更新时间','操作'],
					colModel:[
						// {name:'myac',index:'', width:80, fixed:true, sortable:false, resize:false,
						// 	formatter:'actions', 
						// 	formatoptions:{ 
						// 		keys:true,
						// 		delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
						// 		//editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
						// 	}
						// },
						{name:'id',index:'id', width:60, sorttype:"int", editable: false},
						{name:'project_code',index:'project_code',width:70, editable:true},
						{name:'project_name',index:'project_name', width:150,editable: true,editoptions:{size:"20",maxlength:"30"}},
						{name:'description',index:'description', width:90, editable: true},
						{name:'time_created',index:'time_created', width:90, editable: true,editable: false,editoptions:{value:"FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX"}},
						{name:'time_updated',index:'time_updated', width:150, sortable:false,editable: false},
						{name:'edit',index:'edit', width:150, sortable:false,editable: false,formatter:link}

					], 
					viewrecords : true,
					rowNum:10,
					rowList:[10,20,30],
					pager : pager_selector,
					altRows: true,
					//toppager: true,
					multiselect: true,
					//multikey: "ctrlKey",
			        multiboxonly: true,
			        jsonReader : {

                        root: "rows",
                        page: "page_num",
                        total: "total",
                        records: "total",
                        repeatitems: false,
                        loadonce: true,
                    },
                    prmNames : {
                        page:"page_num",
                        rows:"perPageNum",
                        // order: "order"
                    },
//通用的隐藏隐藏grid底部滚动条
 				loadComplete : function() {
						var table = this;
						setTimeout(function(){
							styleCheckbox(table);
							updateActionIcons(table);
							updatePagerIcons(table);
							enableTooltips(table);
						}, 0);
					},
					editurl: "/edit_project/",//nothing is saved
					// caption: "jqGrid with inline editing",
					autowidth: true,
					reloadAfterSubmit: true,
					afterSubmit: function (response, postdata) {
							var json = eval("("+response+")")
                     	    var DialogVars = $.parseJSON(json.responseText);
                         	console.log(DialogVars);//响应信息
                     	    if (DialogVars.code != '200') {
                                alert("Update is succefully");
                                } else {
                                    return [true];
                                }
                    },
				});
				//enable search/filter toolbar
				//jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
				//switch element when editing inline
				// function aceSwitch( cellvalue, options, cell ) {
				// 	setTimeout(function(){
				// 		$(cell) .find('input[type=checkbox]')
				// 				.wrap('<label class="inline" />')
				// 			.addClass('ace ace-switch ace-switch-5')
				// 			.after('<span class="lbl"></span>');
				// 	}, 0);
				// }
				//enable datepicker
				// function pickDate( cellvalue, options, cell ) {
				// 	setTimeout(function(){
				// 		$(cell) .find('input[type=text]')
				// 				.datepicker({format:'yyyy-mm-dd' , autoclose:true}); 
				// 	}, 0);
				// }
				//navButtons
				jQuery(grid_selector).jqGrid('navGrid',pager_selector,
					{ 	//navbar options
						// edit: true,
						// editicon : 'icon-pencil blue',
						// add: true,
						// addicon : 'icon-plus-sign purple',
						// del: true,
						// delicon : 'icon-trash red',
						// search: true,
						// searchicon : 'icon-search orange',
						refresh: true,
						refreshicon : 'icon-refresh green',
						// view: true,
						// viewicon : 'icon-zoom-in grey',
					},
					{
						//edit record form
						closeAfterEdit: false,
						recreateForm: true,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
							style_edit_form(form);
						},
						reloadAfterSubmit: true,

						afterSubmit: function (response, postdata) {
							var json = eval("("+response+")")

                     	var DialogVars = $.parseJSON(json.responseText);
                     	console.log(DialogVars);//响应信息
                     	if (DialogVars.code != '200') {
                                alert("Update is succefully");
                                } else {
                                    return [true];
                                }
                                    
                	   //  $infoTr = $("#TblGrid_" + $.jgrid.jqID(this.id) + ">tbody>tr.tinfo"),
                    //     $infoTd = $infoTr.children("td.topinfo");//信息栏
                    //     if (response.code == 200) {
                    //     	var myInfo = '<div class="ui-state-highlight ui-corner-all">' +
                    //     '<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>' +
                    //     DialogVars.message +
                    //     '</div>'
                    //     $infoTd.html(myInfo);
                    //     $infoTr.show();
                    //    return [true, myInfo, ""];
                    // } else {
                    //         var myInfo = //'<div class="ui-state-highlight ui-corner-all">' +
                    //         '<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>' +
                    //         DialogVars.msg +
                    //         '</div>'
                    //       //错误信息是在id为FormError的单元格显示
                    //         $infoTr.hide();//隐藏信息栏以免同时显示info和FormError
                    //         return [false, myInfo, ""];
                    //     }
                    }
                },
				
					{
						//new record form
						closeAfterAdd: true,
						recreateForm: true,
						viewPagerButtons: false,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
							style_edit_form(form);
						}
					},
					{
						//delete record form
						recreateForm: true,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							if(form.data('styled')) return false;
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
							style_delete_form(form);
							form.data('styled', true);
						},
						onClick : function(e) {
							alert(1);
						}
					},
					{
						//search form
						recreateForm: true,
						afterShowSearch: function(e){
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
							style_search_form(form);
						},
						afterRedraw: function(){
							style_search_filters($(this));
						}
						,
						multipleSearch: true,
						/**
						multipleGroup:true,
						showQuery: true
						*/
					},
					{
						//view record form
						recreateForm: true,
						beforeShowForm: function(e){
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
						}
					}
				)


function link(cellvalue, options, rowObject) {
					

                    
                    var editHtml="<a href=\"/modify_project?id="+rowObject.id+"\">编辑</a>" + "<a href='#' onClick ='deleteproject("+rowObject.id+");'> 删除</a>";

                    return editHtml

                    }

				function style_edit_form(form) {
					//enable datepicker on "sdate" field and switches for "stock" field
					// form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
					// 	.end().find('input[name=stock]')
					// 		  .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
					//update buttons classes
					var buttons = form.next().find('.EditButton .fm-button');
					buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
					buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
					buttons.eq(1).prepend('<i class="icon-remove"></i>')
					buttons = form.next().find('.navButton a');
					buttons.find('.ui-icon').remove();
					buttons.eq(0).append('<i class="icon-chevron-left"></i>');
					buttons.eq(1).append('<i class="icon-chevron-right"></i>');		
				}
				function style_delete_form(form) {
					var buttons = form.next().find('.EditButton .fm-button');
					buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
					buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
					buttons.eq(1).prepend('<i class="icon-remove"></i>')
				}
				function style_search_filters(form) {
					form.find('.delete-rule').val('X');
					form.find('.add-rule').addClass('btn btn-xs btn-primary');
					form.find('.add-group').addClass('btn btn-xs btn-success');
					form.find('.delete-group').addClass('btn btn-xs btn-danger');
				}
				function style_search_form(form) {
					var dialog = form.closest('.ui-jqdialog');
					var buttons = dialog.find('.EditTable')
					buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
					buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
					buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
				}
				function beforeDeleteCallback(e) {
					var form = $(e[0]);
					if(form.data('styled')) return false;
					form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
					style_delete_form(form);
					form.data('styled', true);
				}
				function beforeEditCallback(e) {
					var form = $(e[0]);
					form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
					style_edit_form(form);
				}
				//it causes some flicker when reloading or navigating grid
				//it may be possible to have some custom formatter to do this as the grid is being created to prevent this
				//or go back to default browser checkbox styles for the grid
				function styleCheckbox(table) {
				/**
					$(table).find('input:checkbox').addClass('ace')
					.wrap('<label />')
					.after('<span class="lbl align-top" />')
					$('.ui-jqgrid-labels th[id*="_cb"]:first-child')
					.find('input.cbox[type=checkbox]').addClass('ace')
					.wrap('<label />').after('<span class="lbl align-top" />');
				*/
				}
				//unlike navButtons icons, action icons in rows seem to be hard-coded
				//you can change them like this in here if you want
				function updateActionIcons(table) {
					/**
					var replacement = 
					{
						'ui-icon-pencil' : 'icon-pencil blue',
						'ui-icon-trash' : 'icon-trash red',
						'ui-icon-disk' : 'icon-ok green',
						'ui-icon-cancel' : 'icon-remove red'
					};
					$(table).find('.ui-pg-div span.ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
					*/
				}
				//replace icons with FontAwesome icons like above
				function updatePagerIcons(table) {
					var replacement = 
					{
						'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
						'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
						'ui-icon-seek-next' : 'icon-angle-right bigger-140',
						'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
					};
					$('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
				}
				function enableTooltips(table) {
					$('.navtable .ui-pg-button').tooltip({container:'body'});
					$(table).find('.ui-pg-div').tooltip({container:'body'});
				}
				//var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');
			});



 function deleteproject(id){
                 	var url = 'delete_project/';
                    var p = {job_id:id};
                    $.post(url,p,function(data, status){
                        // var json = eval("("+data+")")
                        var json = eval("("+data+")")
                        alert(json.msg); 
                        $("#grid_selector").trigger("reloadGrid");
                    })

                }

               
</script>
{% endblock %}